<table id='links'>
<% @links.each do |l| %>
<tr>
  <td class='points'>
    <form action='<%= "#{l.id}/vote/1" %>' method='post'>
      <input type='hidden' name='_method' value='put'>
      <input type='submit' value='+1'>
    </form>    
    <%= l.points %>
    <form action='<%= "#{l.id}/vote/-1" %>' method='post'>
      <input type='hidden' name='_method' value='put'>
      <input type='submit' value='-1'>
    </form>    
  </td>
  <td><span class='title'><a href='<%= l.url %>'><%= l.title %></a></span>
      <span class='host'>(<%= l.url_host %>)</span>
      <!-- todo: use time_in_words_helper?? available?? -->
      <span class='created-at'>posted <%= l.created_at %></span>
  </td>
</tr>
<% end %>
</table>

<div id='post-link'>
  <form action='/' method='post'>
    <input type='text' name='link[title]' placeholder='Title'>
    <input type='text' name='link[url]'   placeholder='URL'>
    <input type='submit' value='Save Link'>
  </form>  
</div>